---
layout: default
---
<div class="wrapper">

    <header class="page-header">

        {% if site.resume_avatar == 'true' %}
        <img src="images/avatar.jpg" alt="my photo" class="avatar">
        {% endif %}

        <h1 class="header-name">{{ site.resume_name }}</h1>

        <div class="title-bar">

            <h2 class="header-title">{{ site.resume_title }}</h2>

            {% include icon-links.html %}
        </div>

        <div class="executive-summary">
            <h2>어제보다 더 나은 개발자가 되자</h2>
            <span>
                대학교때 무언가 기능을 만들고 모르는것에 대해 알아가는 그 과정이 너무나 즐거워 개발자가 되었습니다.<br>
                그전 회사에서는 Java, Spring, MS-SQL사용하여 Back-end 개발을 하고 ExtJS로 Front-end개발을 했었습니다.<br>
                그렇게 개발자로 지내면서 어떻게 하면 어제보다 더 나은 개발자가 될까?라는 생각을 항상 했습니다.<br>
                그래서 실용주의 프로그래머책에서 나온 1년에 하나씩 새 언어를 학습하라는 조언대로 요번년도에는 Python, Django를 학습했습니다.
                공부를 하면서 Python, Django, DjangoRESTFramework, Javascript, PostgreSQL, Git, Git-Flow, AWS등의 기술을 사용하여 서비스 개발을 했고, IOS팀과 협업을 하며 협업능력을 키웠습니다.<br><br>
            </span>
            <span>
                지속적으로 성장하는 개발자가 되기 위해 개발하다 겪은 시행착오들과 배웠던 내용들을  
                <a href="https://github.com/LeoHeo/FastCampus-Python-Django" target="_blank">Github에 정리(TIL - Today I Learned)</a>
                해서 올리고 <a href="http://hjh5488.tistory.com/" target="_blank">블로그</a>에 기록을 합니다.

                그리고 빠르게 발전하는 IT업계에서 뒤쳐지지않는 개발자가 되기 위해  컨퍼런스들을 자주가서 기술습득을 할려고 노력합니다.<br><br>

                이런 것들을 통해 <strong>어제보다 더 나은 개발자</strong>가 될려고 노력하는 개발자입니다.
            </span>
        </div>

        {% if site.resume_looking_for_work == 'yes' %}
        <a href="mailto:{{ site.resume_contact_email }}" class="contact-button">Contact me</a>
        {% elsif site.resume_looking_for_work == 'no' %}
        <a class="contact-button not-looking">I'm not looking for work right now.</a>
        {% else %}
        {% endif %}

    </header>

    {% if site.resume_section_skills %}
    <!-- begin Skills -->
    <section class="content-section">

        <header class="section-header">
            <h2>Skills</h2>
        </header>
        <div class="columns">
            <div class="resume-item table-column">
                <h4 class="resume-item-details"><i class="fa"></i>FrontEnd</h4>
                <ul class="resume-item-list">
                    <li>HTML</li>
                    <li>
                        CSS
                        <ul class="resume-item-list">
                            <li>Bootstrap</li>
                        </ul>
                    </li>
                    <li>
                        JavaScript
                        <ul class="resume-item-list">
                            <li>ExtJS</li>
                            <li>JQuery</li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="resume-item table-column">
                <h4 class="resume-item-details"><i class="fa"></i>BackEnd</h4>
                <ul class="resume-item-list">
                    <li>Java</li>
                    <li>Python</li>
                    <li>Spring FrameWork</li>
                    <li>Django FrameWork</li>
                    <li>Django REST FrameWork</li>
                    <li>Nginx</li>
                    <li>AWS</li>
                </ul>
            </div>

            <div class="resume-item table-column">
                <h4 class="resume-item-details"><i class="fa"></i>Database</h4>
                <ul class="resume-item-list">
                    <li>PostgreSQL</li>
                    <li>MS-SQL</li>
                </ul>
            </div>

            <div class="resume-item table-column">
                <h4 class="resume-item-details"><i class="fa"></i>Others</h4>
                <ul class="resume-item-list">
                    <li>Ubuntu</li>
                    <li>git/git-flow</li>
                    <li>github</li>
                    <li>SVN</li>
                    <li>travis</li>
                    <li>slack</li>
                </ul>
            </div>
        </div>

    </section>
    <!-- end Skills -->
    {% endif %}

    {% if site.resume_section_experience %}
    <!-- begin Experience -->
    <section class="content-section">

        <header class="section-header">
            <h2>Experiences</h2>
        </header>

        <div class="resume-item">
            <h3 class="resume-item-title" id="hoomi">HOOMI
                <a href="https://github.com/fastcampus-HOOMI/Web-HOOMI"><i class="fa fa-github"></i></a>
                <a href="http://stackshare.io/LeoHeo/web-hoomi"><img src="https://camo.githubusercontent.com/ecdf091dc9f099a6db3e61242963a3a5412ae6a8/687474703a2f2f696d672e736869656c64732e696f2f62616467652f746563682d737461636b2d3036393066612e7376673f7374796c653d666c6174" alt="StackShare" data-canonical-src="http://img.shields.io/badge/tech-stack-0690fa.svg?style=flat" style="max-width:100%;" data-pin-nopin="true"></a>
            </h3>
            <h4 class="resume-item-details">패스트캠퍼스,
                &bull; 2016.06 &mdash; 2016.07
            </h4>
            <ul class="resume-item-list">
                <li>
                    참여인원: 5명
                    <ul class="resume-item-list">
                        <li>Server: 2명</li>
                        <li>IOS: 3명</li>
                    </ul>
                </li>
                <li>
                    목적: 미디어를 활용한 센스있는 포트폴리오 만들기 HOOMI(Who am I)
                    모바일과 웹으로 이력을 스마트하게 관리
                </li>
                <li>
                    사용된 기술
                    <ul class="resume-item-list">
                        <li>Python, Django, Django-REST-frameWork, django-rest-framwwork-jwt</li>
                        <li>gunicorn, Nginx, honcho, AWS(EC2, S3, CloudFront, Route53)</li>
                        <li>Bootstrap, JQuery, d3.js, list.js</li>
                        <li>Travis, Sentry + slack CI</li>
                        <li>git, git-flow</li>
                    </ul>
                </li>
                <li>
                    담당업무: API 구현(TDD) 및 AWS Infra 구축 및 Resume Page 구현
                    <ul class="resume-item-list">
                        <li>OAuth 구현</li>
                        <li>Client와 JWT 통신</li>
                        <li>SSL letsencrypt 세팅</li>
                        <li>Slack을 활용한 Travis, Sentry CI구축</li>
                        <li>API 입력, 업데이트시 AWS S3 자동 업로드</li>
                        <li>django-pipeline를 활용한 Static Files AWS CloudFront Serving</li>
                    </ul>
                </li>
            </ul>
            <div class="columns well">
                <div class="table-column">
                    <a href="images/portfolio/Hoomi/main.png">
                        <img class="img-thumbnail" src="images/portfolio/Hoomi/main.png"
                             data-large-src="images/portfolio/Hoomi/main.png" alt="hoomi-main"/>
                    </a>
                </div>
                <div class="table-column">
                    <a href="images/portfolio/Hoomi/login.png">
                        <img class="img-thumbnail" src="images/portfolio/Hoomi/login.png"
                             data-large-src="images/portfolio/Hoomi/login.png" alt="hoomi-login"/>
                    </a>
                </div>
                <div class="table-column">
                    <a href="images/portfolio/Hoomi/select-skill.png">
                        <img class="img-thumbnail" src="images/portfolio/Hoomi/select-skill.png"
                             data-large-src="images/portfolio/Hoomi/select-skill.png" alt="hoomi-select-skill"/>
                    </a>
                </div>
            </div>
            <div class="columns well">
                <div class="table-column">
                    <a href="images/portfolio/Hoomi/chart.png">
                        <img class="img-thumbnail" src="images/portfolio/Hoomi/chart.png"
                             data-large-src="images/portfolio/Hoomi/chart.png" alt="hoomi-chart"/>
                    </a>
                </div>
                <div class="table-column">
                    <a href="images/portfolio/Hoomi/resume.png">
                        <img class="img-thumbnail" src="images/portfolio/Hoomi/resume.png"
                             data-large-src="images/portfolio/Hoomi/resume.png" alt="hoomi-resume"/>
                    </a>
                </div>
            </div>
            <div class="columns well">
                <div class="table-column">
                    <a href="images/portfolio/Hoomi/app-login.png">
                        <img class="img-thumbnail" src="images/portfolio/Hoomi/app-login.png"
                             data-large-src="images/portfolio/Hoomi/app-login.png" alt="app-login"/>
                    </a>
                </div>
                <div class="table-column">
                    <a href="images/portfolio/Hoomi/app-list.png">
                        <img class="img-thumbnail" src="images/portfolio/Hoomi/app-list.png"
                             data-large-src="images/portfolio/Hoomi/app-list.png" alt="app-list"/>
                    </a>
                </div>
                <div class="table-column">
                    <a href="images/portfolio/Hoomi/app-detail.png">
                        <img class="img-thumbnail" src="images/portfolio/Hoomi/app-detail.png"
                             data-large-src="images/portfolio/Hoomi/app-detail.png" alt="app-detail"/>
                    </a>
                </div>
            </div>
        </div>

        <div class="resume-item">
            <h3 class="resume-item-title" id="omega">물류정보시스템(Omega)</h3>
            <h4 class="resume-item-details">삼정 KPMG,
                &bull; 2015.07 &mdash; 2016.01
            </h4>
            <ul class="resume-item-list">
                <li>참여인원: 8명 </li>
                <li>목적: Web 환경에서의 물류 포워딩 시스템 개발로 기존에 출시돼있는 프로그램들보다 사용자 편의성 증가 설치 불필요</li>
                <li>사용된 기술
                    <ul class="resume-item-list">
                        <li>Java, Jquery, Spring, MyBatis, ExtJS, AWS RDS(MS-SQL), JDBC</li>
                        <li>SVN, Apache Tomcat</li>
                    </ul>
                </li>
                <li>담당업무: PDF Print Module 개발 및 ExtJS FrontEnd 구현</li>
                <ul class="resume-item-list">
                    <li>ExtJS Grid Plugin Open Source Filterbar 사용</li>
                    <li>Jasper Report library 사용 PDF Generate Java Module 개발</li>
                </ul>
            </ul>
            <div class="columns well">
                <div class="table-column">
                    <a href="images/portfolio/Omega/main.png">
                        <img class="img-thumbnail" src="images/portfolio/Omega/main.png"
                             data-large-src="images/portfolio/Omega/main.png" alt="omega-main"/>
                    </a>
                </div>
                <div class="table-column">
                    <a href="images/portfolio/Omega/print.png">
                        <img class="img-thumbnail" src="images/portfolio/Omega/print.png"
                             data-large-src="images/portfolio/Omega/print.png" alt="omega-resume"/>
                    </a>
                </div>
            </div>
        </div>

        <div class="resume-item">
            <h3 class="resume-item-title" id="flex">Flexsolutions V3.0</h3>
            <h4 class="resume-item-details">삼정 KPMG,
                &bull; 2015.03 &mdash; 2015.07
            </h4>
            <ul class="resume-item-list">
                <li>참여인원: 7명 </li>
                <li>
                    목적
                    <ul class="resume-item-list">
                        <li>ExtJS로 V.2.5버전보다 편리한 인터페이스 제공</li>
                        <li>BackEnd WebFocus 에서 Java로 전환으로 업무프로세스 개선</li>
                    </ul>
                </li>
                <li>
                    성과
                    <ul class="resume-item-list">
                        <li>인사, 휴가 편리한 UI로 Payroll Client 다수 확보</li>
                        <li>업무소요시간 50% 단축</li>
                        <li>추후 HRIS 프로젝트 수주</li>
                    </ul>
                </li>
                <li>사용된 기술
                    <ul class="resume-item-list">
                        <li>Java, Jquery, Spring, IBatis, ExtJS, MS-SQL, JDBC, iText, poi, Google Guava Library</li>
                        <li>SVN, Apache Tomcat</li>
                    </ul>
                </li>
                <li>담당업무: 인사, 휴가, 퇴직금 Module 개발</li>
                <ul class="resume-item-list">
                    <li>iText library사용 인사기록카드 PDF 출력 개발</li>
                    <li>V2.5에 없는 관리자 휴가조회 개발</li>
                    <li>퇴직소득계산 Java Reflection 사용 Client마다 퇴직금 로직 다른거 대처</li>
                </ul>
            </ul>
            <div class="columns well">
                <div class="table-column">
                    <a href="images/portfolio/Flex/vacation.png">
                        <img class="img-thumbnail" src="images/portfolio/Flex/vacation.png"
                             data-large-src="images/portfolio/Flex/vacation.png" alt="omega-main"/>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- end Experience -->
    {% endif %}

    {% if site.resume_section_projects %}
    <!-- begin Projects -->
    <section class="content-section">

        <header class="section-header">
            <h2>Projects</h2>
        </header>

        <div class="resume-item">
            <h3 class="resume-item-title">Indoor and Outdoor Location <a
                    href="https://github.com/gautierdelorme/JPOINSAXamarin"><i class="fa fa-github"></i></a></h3>
            <h4 class="resume-item-details">Cross-platform app in C&#35; &bull; Nov, 2015 &mdash; Present</h4>
            <ul class="resume-item-list">
                <li>Development of a mobile app (iOS, Android, Windows Phone) with Xamarin allowing more than 1000
                    participants of the IFAC 2017 World Congress to be guided through the city of Toulouse and inside
                    buildings.
                </li>
                <li>Integration of indoor navigation with Bluetooth Low Energy and Estimote iBeacons technologies.</li>
                <li>Use of Parse.com to store data and build an efficient API.</li>
                <li>Development of a web application with NodeJS, SailsJS and React.</li>
            </ul>
        </div>

        <div class="resume-item">
            <h3 class="resume-item-title">Peer-to-Peer Chat System <a
                    href="https://github.com/gautierdelorme/Semafor"><i class="fa fa-github"></i></a></h3>
            <h4 class="resume-item-details">Graphical Java multithreading cross-platform app &bull; Oct, 2015 &mdash;
                Nov, 2015</h4>
            <ul class="resume-item-list">
                <li>Developed an app allowing users to send messages and files to each other using peer-to-peer
                    networking.
                </li>
                <li>Implementation of major design patterns like MVC, Singleton, Facade, Observer</li>
                <li>UML design methodology : creation of a Software Requirement Specification and a Software Design
                    Document.
                </li>
            </ul>
        </div>

        <div class="resume-item">
            <h3 class="resume-item-title">D&#33;scover</h3>
            <h4 class="resume-item-details">iOS mobile application written in Swift &bull; Aug, 2015</h4>
            <ul class="resume-item-list">
                <li>Developed a Tinder-like app to share Scoop.it posts in an original way in order to completely
                    rethink the classical user experience by adding a feature allowing the user to swipe right the post
                    to share it or swipe left to dismiss it.
                </li>
            </ul>
            <div class="columns well">
                <div class="table-column">
                    <a href="images/portfolio/scoopit/1.png">
                        <img class="img-thumbnail" src="images/portfolio/discover/1.png"
                             data-large-src="images/portfolio/discover/1.png" alt="discover1"/>
                    </a>
                </div>
                <div class="table-column">
                    <a href="images/portfolio/scoopit/2.png">
                        <img class="img-thumbnail" src="images/portfolio/discover/2.png"
                             data-large-src="images/portfolio/discover/2.png" alt="discover2"/>
                    </a>
                </div>
                <div class="table-column">
                    <a href="images/portfolio/scoopit/3.png">
                        <img class="img-thumbnail" src="images/portfolio/discover/3.png"
                             data-large-src="images/portfolio/discover/3.png" alt="discover3"/>
                    </a>
                </div>
                <div class="table-column">
                    <a href="images/portfolio/scoopit/4.png">
                        <img class="img-thumbnail" src="images/portfolio/discover/4.png"
                             data-large-src="images/portfolio/discover/4.png" alt="discover4"/>
                    </a>
                </div>
            </div>
        </div>

    </section>
    <!-- end Projects -->
    {% endif %}

    {% if site.resume_section_education %}
    <!-- begin Education -->
    <section class="content-section">

        <header class="section-header">
            <h2>Education</h2>
        </header>

        <div class="resume-item">
            <img src="images/hallym.png" class="resume-item-picture-square" alt="university_logo"/>
            <h3 class="resume-item-title">한림대학교</h3>
            <h4 class="resume-item-details">컴퓨터공학
                &bull; 2008 &mdash; 2014
            </h4>
        </div>

        <div class="resume-item">
            <img src="images/gigong.jpeg" class="resume-item-picture-square" alt="uqtr"/>
            <h3 class="resume-item-title">춘천기계공업고등학교</h3>
            <h4 class="resume-item-details">전산응용기계과
                &bull; 2005 &mdash; 2008
            </h4>
        </div>

    </section>
    <!-- end Education -->
    {% endif %}

    {% if site.resume_section_extracurricular %}
    <!-- begin Extracurricular -->
    <section class="content-section">
        <header class="section-header">
            <h2>Extracurricular</h2>
        </header>

        <div class="resume-item">
            <h3 class="resume-item-title">Humanitarian project</h3>
            <h4 class="resume-item-details">Scouts et Guides de France,
                <span class="resume-item-place">Rio de Janeiro (Brazil)</span>
                &bull; Jul, 2013 &mdash; Aug, 2013
            </h4>
            <ul class="resume-item-list">
                <li>Helped an association to take care of orphans from the favelas</li>
                <li>Teached them English and Mathematics</li>
            </ul>
        </div>

        <div class="resume-item">
            <h3 class="resume-item-title">Climbing instructor</h3>
            <h4 class="resume-item-details">Cote Sports Association,
                <span class="resume-item-place">Toulouse (France)</span>
                &bull; Jul, 2012 &mdash; Aug, 2012
            </h4>
            <ul class="resume-item-list">
                <li>Introduced to youth the basics of rock climbing and how do it properly and safely.</li>
                <li>The purpose was to share my love about mountain sports to a youngest generation in order to show
                    them a different sport from what they could already know.
                </li>
            </ul>
        </div>

        <ul>

        </ul>

    </section>
    <!-- end Extracurricular -->
    {% endif %}

    {% if site.resume_section_blog %}
    <!-- begin Blog -->
    <section class="content-section">
        <header class="section-header">
            <h2>Latest articles</h2>
        </header>
        {% for post in site.posts limit: 5 %}
        <div class="resume-item">
            <img src="{{post.cover}}" class="resume-item-picture" alt="{{post.title}}"/>
            <h3 class="resume-item-title"><a href="{{post.url}}">{{post.title}}</a></h3>
            <h4 class="resume-item-details">
                <span class="resume-item-place">on {{post.date | date: "%B %d, %Y"}}</span>
            </h4>
        </div>
        {% endfor %}
    </section>
    <!-- end Blog -->
    {% endif %}

    {% if site.resume_section_recognition %}
    <!-- begin Recognition -->
    <section class="content-section">
        <header class="section-header">
            <h2>Recognition</h2>
        </header>
    </section>
    <!-- end Recognition -->
    {% endif %}

    {% if site.resume_section_associations %}
    <!-- begin Associations -->
    <section class="content-section">
        <header class="section-header">
            <h2>Associations</h2>
        </header>
    </section>
    <!-- end Associations -->
    {% endif %}

    {% if site.resume_section_links %}
    <!-- begin Links -->
    <section class="content-section">
        <header class="section-header">
            <h2>Additional Links</h2>
        </header>
    </section>
    <!-- end Links -->
    {% endif %}

    <footer class="page-footer">
        <p class="footer-line">Fork me on <a
                href="https://github.com/gautierdelorme/gautierdelorme.github.io">GitHub</a>.</p>
    </footer>

</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="js/jquery.h5-lightbox.min.js"></script>
<script type="text/javascript" src="js/resume.js"></script>
